@keyframes cable1Movement {
  0%,
  20% {
    transform: rotateY(0) rotateZ(-10deg);
  }
  70%,
  100% {
    transform: rotateY(45deg) rotateZ(-10deg);
  }
}

@keyframes cable2Movement {
  0%,
  20% {
    transform: rotateY(0) rotateZ(29deg);
  }
  70%,
  100% {
    transform: rotateY(15deg) rotateZ(29deg);
  }
}

/* ... other animations ... */
