@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
  --progressbar-step: 1;
  --prime-color: #272a74;
  --second-color: #ffaa00;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  color: inherit;
  box-sizing: border-box;
}

html {
  zoom: 100%;
}

.signature-pad {
  display: grid;
  place-items: center;
  zoom: 111%;
}

.default-width {
  max-width: 1142px;
  padding-inline: 16px;
  margin-inline: auto;
}

.fullHeight {
  min-height: calc(100vh - 300px);
}

ol,
ul {
  margin-left: 20px;
}

ol {
  list-style: auto;
}

ul {
  list-style: disc;
}

.contractHtml {
  padding: 0;
  text-align: justify;
}

.contractHtml h1,
.contractHtml h2,
.contractHtml h3,
.contractHtml h4,
.contractHtml h5,
.contractHtml h6 {
  color: #001e5e;
}

.contractHtml ul,
.contractHtml ol {
  list-style: auto;
}

.contractHtml p {
  font-family: "Montserrat", sans-serif !important;
  padding-left: 0px;
}

.contractHtml p span {
  font-family: "Montserrat", sans-serif !important;
  font-size: 14px;
  line-height: 1.4;
}

.contractHtml p:has(b),
.contractHtml p:has(strong) {
  padding-top: 20px;
  padding-left: 0px;
}

.contractHtml table {
  margin-top: 10px !important;
  max-width: 100% !important;
}

.htmlEditor p,
.htmlEditor blockquote {
  font-family: "Montserrat", sans-serif !important;
  width: auto !important;
}

.htmlEditor p {
  text-align: justify;
  margin-bottom: 20px;
}

.htmlEditor ol {
  list-style-type: auto;
}
.htmlEditor ul {
  list-style-type: disc;
}

.productHtml p,
.productHtml span,
.productHtml li {
  font-family: "Montserrat", sans-serif !important;
  font-size: 14px !important;
  line-height: 1.3;
}

.productHtml p {
  text-align: justify;
  margin-bottom: 8px;
}

.productHtml table {
  width: 100% !important;
  border-radius: 18px;
  overflow: hidden;
  outline: 1px solid #ddd;
}

.productHtml ul {
  list-style-type: disc;
}
.productHtml ol {
  list-style: auto;
}

.productHtml li {
  margin-left: 10px;
  margin-bottom: 8px;
}

.productHtml a {
  text-decoration: underline;
  color: #004875;
}

.tengerAppHtml a {
  font-family: "Montserrat", sans-serif !important;
  text-decoration: underline;
  display: inline-block;
}

.timelineHtml ul {
  font-family: "Montserrat", sans-serif !important;
  list-style-type: disc;
  list-style-position: outside;
}

.timelineHtml-odd ul {
  font-family: "Montserrat", sans-serif !important;
  list-style-type: disc;
  text-align: justify;
  /* list-style-position: inside; */
}
input[type="password"] {
  font: small-caption;
  letter-spacing: 2px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input::placeholder {
  font-weight: 400;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../../public/icons/down-arrow.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: right 10px center;
}

.loginFormBtn {
  width: inherit;
}

.footerLinks h3 {
  font-size: 14px;
  text-decoration: underline;
  text-underline-offset: 4px;
  font-weight: 700;
  margin-bottom: 30px;
}

.footerLinks a {
  font-size: 12px;
  display: block;
  margin-top: 20px;
}

.dashboard-activelink {
  position: relative;
  color: #061938;
  font-weight: 600;
}

.dashboard-activelink::after {
  content: "";
  position: absolute;
  background-color: var(--prime-color);
  width: 20px;
  height: 2px;
  bottom: -6px;
  left: 0;
}

/* FORM INPUT TEXTAREA SELECT */
.formItems input,
.formItems select,
.formItems textarea {
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  padding: 10px 15px;
}

input,
select,
textarea {
  font-size: 15px;
}

input::placeholder,
select::placeholder,
textarea::placeholder {
  font-size: 15px;
}

/* div sliding transition */
.fadeOut {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 400ms;
}

.fadeIn {
  display: grid;
  grid-template-rows: 1fr;
  transition: grid-template-rows 400ms;
}

.arrowFlip {
  transform: rotate(90deg);
}

/* box shadow */
.boxShadow {
  box-shadow: 0 0 0.8rem -0.4rem #9daeff;
}

.tableBorder {
  border-collapse: collapse;
}

.tableBorder th,
.tableBorder td {
  padding: 10px 50px;
}

.btn {
  width: clamp(160px, 30vw - 2rem, 200px);
  padding: 10px;
  border-radius: 16px;
  margin-top: 4px;
  font-size: 14px;
  display: grid;
  place-items: center;
  margin-inline: auto;
}

.btn-next {
  color: white;
  background-color: var(--prime-color);
  /* border: var(--prime-color) 1px solid; */
}

.btn-normal {
  color: var(--prime-color);
  background-color: white;
  border: 1px solid var(--prime-color);
}

.tab-btn {
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  font-size: 16px;
  padding: 20px;
}

/* BUTTON ANIMATE */
.btn-animate:active {
  transform: scale(0.97);
}

.remove-disc-style ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contract-scrollbar::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

.contract-scrollbar::-webkit-scrollbar-track {
  margin-block: 10px;

  background-color: #f8f8f8;
}

.contract-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 8px;
}

.contract-scrollbarX::-webkit-scrollbar {
  background: transparent;
  height: 10px;
}

.contract-scrollbarX::-webkit-scrollbar-track {
  margin-inline: 10px;

  background-color: #fefefe;
}

.contract-scrollbarX::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.borderTopDashed {
  background-image: linear-gradient(
    90deg,
    #d9d9d9,
    #d9d9d9,
    #d9d9d9,
    #d9d9d9,
    #ffffff00,
    #ffffff00,
    #ffffff00,
    #ffffff00,
    #d9d9d9,
    #d9d9d9,
    #d9d9d9,
    #d9d9d9
  );
  background-position: top;
  background-size: 25px 1px;
  background-repeat: repeat-x;
  height: 1px;
  width: 100%;
}

/* PAGE TRANSITION */

.slider-exit {
  z-index: 1;
}

.slider-enter {
  z-index: 10;
}

.left.slider-enter {
  transform: translate3d(-50%, 0, 0);
  opacity: 0;
}

.left.slider-exit {
  transform: translate3d(50%, 0, 0);
  opacity: 0;
}

.right.slider-enter {
  transform: translate3d(25%, 0, 0);
  opacity: 0;
}

.right.slider-exit {
  transform: translate3d(-25%, 0, 0);
}

.slider-enter.slider-enter-active {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  transition: all 300ms ease-in-out;
}

.slider-exit.slider-exit-active {
  opacity: 0;
}

.bgGradient {
  background-image: linear-gradient(
    129deg,
    #e0fce6 0%,
    #d8fdff 50%,
    #e7e0ff 100%
  );
}

/* AllPayment Page paymentInfoTable */
.paymentInfoTable p {
  padding: 1px 4px 1px clamp(0.625rem, -7.5rem + 26vw, 8.75rem);
  font-size: 14px;
}

.paymentInfoTable > p {
  padding: 12px 4px 12px clamp(0.625rem, -7.5rem + 26vw, 8.75rem);
}

.groupTravelTable table {
  width: 100%;
  border-spacing: 0;
  border-style: hidden;
  border-collapse: collapse;
  table-layout: fixed;
}

.groupTravelTable td {
  padding: 8px 30px;
  border: 1px solid #bbbb;
}

.carCouponTable table {
  width: 100%;
  border-spacing: 0;
  border-style: hidden;
  border-collapse: collapse;
  table-layout: fixed;
}

.carCouponTable td {
  padding: 8px 30px;
  border: 1px solid #bbbb;
}

.travelInfoTable table {
  width: 100%;
  border-spacing: 0;
  border-style: hidden;
  border-collapse: collapse;
  /* table-layout: fixed; */
}

.travelInfoTable td {
  padding: 4px 10px;
  border: 1px solid #d9d9d9;
}

/* pagination */
.newsPagination .pagination {
  border: none;
  border-radius: 5px;
  width: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  color: #111;
  width: 100%;
  margin-top: 60px;
  gap: 20px;
  list-style: none;
}

.frcHtml tr:nth-of-type(1) {
  background-color: #272a74;
  color: white;
  text-align: center;
  font-weight: 600;
}

.frcHtml a {
  color: #2f35fd;
}

.newsPagination .pagination li {
  margin-inline: 2px;
  width: 40px;
  height: 40px;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid #aaa;
}

.newsPagination .pagination li:hover {
  opacity: 0.9;
}

.newsPagination .pagination li.active {
  background-color: var(--prime-color);
  color: white;
}

.newsPagination .pagination li.paginate-disabled {
  background-color: #d7d7d7;
  color: #7f7f7f;
}

.newsPagination .pagination li a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* table */
.prodCarInsuranceDetailTable,
.prodCarInsuranceDetailTable td,
.prodCarInsuranceDetailTable th {
  border: 1.4px solid #555;
  border-collapse: collapse;
  padding: 2px 6px;
  font-size: 14px;
}

.carInsuranceDetailSecond ul {
  list-style: disc;
}
.carInsuranceDetailSecond ol {
  list-style: decimal;
}

/* MARQUEE */

@keyframes marquee-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.marquee {
  display: flex;
  width: fit-content;
}

.marquee:hover > .marquee-wrapper {
  animation-play-state: paused;
}

.marquee-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  animation: marquee-slide 60s infinite linear;
}

.marquee-wrapper.slide-faster {
  animation-duration: 10s;
}

.marquee-item {
  /* white-space: nowrap; */
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 18px;
  padding: 16px;
  margin-inline: 10px;
  margin-block: 14px;
  width: 300px;
  box-shadow: 0 0 1rem -0.8rem #0095f1;
}

@media screen and (max-width: 768px) {
  .about-intro > div:nth-of-type(1) {
    order: 2;
  }
  .about-intro > div:nth-of-type(2) {
    order: 1;
  }
  .about-intro > div:nth-of-type(3) {
    order: 4;
  }
  .about-intro > div:nth-of-type(4) {
    order: 3;
  }
  .timelineHtml-odd ul {
    list-style-position: outside;
  }
}

.loadingPage {
  height: 100vh;
  display: grid;
  place-content: center;
}

.loadingPage .loading-image {
  width: 60px;
  height: 60px;
  background: linear-gradient(
    124deg,
    #00c1ff,
    #3827b8,
    #380d89,
    #00dcff,
    #1c50e3,
    #0069f2,
    #00f4ff,
    #380d89,
    #00a3ff,
    #3a1ba0,
    #3034d1,
    #00a3ff,
    #380d89,
    #00f4ff
  );
  background-size: 400% 400%;
  animation: gradient-rainbow 2s linear infinite alternate;
}

@keyframes gradient-rainbow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.financial-table p {
  display: none;
}

.financial-table table {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  border-spacing: 0;
  border-style: hidden;
  border-collapse: collapse;
  font-size: 13px;
}

.financial-table table th {
  padding: 18px 10px;
}

.financial-table table th,
.financial-table table td {
  font-family: "Montserrat", sans-serif !important;
  border: 1px solid #ccc;
}

.financial-table table th span,
.financial-table table td span {
  font-family: "Montserrat", sans-serif !important;
  font-size: 13px !important;
}
.financial-table table td {
  padding: 10px 10px;
}

@media screen and (max-width: 640px) {
  .financial-table table,
  .financial-table table th span,
  .financial-table table td span {
    font-family: "Montserrat", sans-serif !important;
    font-size: 10px !important;
  }

  .contractHtml table {
    margin: 6px 0 !important;
    width: 100% !important;
  }

  .productHtml p,
  .productHtml span,
  .productHtml li {
    font-family: "Montserrat", sans-serif !important;
    font-size: 12px !important;
  }

  input,
  select,
  textarea {
    padding: 10px 15px;
    font-size: 12px;
  }

  input::placeholder,
  select::placeholder,
  textarea::placeholder {
    font-size: 12px;
  }

  .newsPagination .pagination {
    border: none;
    border-radius: 5px;
    width: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    color: #333;
    width: 100%;
    margin-top: 60px;
    gap: 8px;
  }

  .newsPagination .pagination li {
    margin-inline: 2px;
    width: 30px;
    height: 30px;
    font-size: 14px;
    border-radius: 10px;
  }

  html {
    zoom: 100%;
  }

  .tab-btn {
    padding: 10px;
    font-size: 14px;
  }
  .signature-pad {
    display: grid;
    place-items: center;
    zoom: 100%;
  }
  .fullHeight {
    min-height: calc(100vh - 500px) !important;
  }
  .btn {
    /* padding: 8px 20px; */
    border-radius: 100vh;
    font-size: 12px;
  }

  .footerLinks h3 {
    font-size: 12px;
    text-decoration: underline;
    text-underline-offset: 4px;
    font-weight: 700;
    margin-bottom: 26px;
  }

  .footerLinks a {
    font-size: 10px;
    display: block;
    margin-top: 18px;
  }
  .paymentInfoTable p {
    font-size: 12px;
  }

  .tableBorder th,
  .tableBorder td {
    padding: 5px 12px;
  }

  .groupTravelTable td {
    padding: 6px 10px;
  }
}

/* 3D ROTATION WITH JS -------------------test------------------- */
.tracker {
  background-color: #b0e0fd92;
  border-radius: 10px;
  transform: perspective(5000px) rotateY(var(--rotateY)) rotateX(var(--rotateX));
  transform-style: preserve-3d;
  position: relative;
}

.tracker::after,
.tracker::before {
  content: "";
  position: absolute;
  border-radius: inherit;
}

.tracker::before {
  inset: 0.7rem;
  background: rgb(37, 49, 54);
  transform: translateZ(-29px);
  filter: blur(15px);
  opacity: 0.5;
}

.tracker::after {
  inset: -0.4rem;
  background: linear-gradient(45deg, rgb(143, 206, 254), rgb(94, 209, 255));
  transform: translateZ(-30px);
}

.slide-in {
  transform: translateX(0);
  opacity: 1;
  transition: all 600ms ease-out;
}

/* SVG TEXT EFFECT */
.svg-effect {
  position: relative;
}

.svg-effect svg text {
  font-size: 32px;
  fill: var(--prime-color);
  stroke-width: 1px;
  stroke: #cfa2ff;
  stroke-dasharray: 10;
  stroke-linejoin: round;
  animation: text-border 3s linear infinite;
}

@keyframes text-border {
  to {
    stroke-dashoffset: 20;
  }
}

.pageLoader {
  position: fixed;
  inset: 0;
  background: white;
  z-index: 1000;
  visibility: hidden;
  transition: all 200ms;
  transform: translateY(80px);
  opacity: 0.1;
  backdrop-filter: blur(2px);
}

.pageLoader.page-transition {
  visibility: visible;
  transition: all 200ms;
  transform: translateY(80px);
  opacity: 1;
}

.ending-transition {
  transition: all 500ms;
  opacity: 0.1;
  backdrop-filter: blur(2px);
}

/* SVG LOADING SQUARE*/
.loadingSvg svg {
  width: 100px;
  height: 100px;
}

.loadingSvg svg rect {
  width: 100px;
  height: 100px;
  fill: none;
  stroke-width: 100px;
  stroke: white;
  stroke-dasharray: 100;
  stroke-dashoffset: 50%;
  animation: loading-svg 1.5s linear infinite;
}

@keyframes loading-svg {
  to {
    stroke-dashoffset: 250%;
  }
}

/* spinner */
.spinner {
  transform-origin: center;
  animation: rotate 1.5s linear infinite;
}

/* SVG LOADING CIRCLE */
.loadingSvg1 svg {
  position: relative;
  width: 130px;
  height: 130px;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingSvg1 svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 10;
  stroke: #220047;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: stroke-rotate 4s linear infinite;
}

@keyframes stroke-rotate {
  0%,
  100% {
    stroke-dashoffset: 400;
  }
  50% {
    stroke-dashoffset: 0;
  }
  50.1% {
    stroke-dashoffset: 800;
  }
}

.pulsing-point {
  position: relative;
  background-color: #eb5371;
  border-radius: 100%;
}

.pulsing-point::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid #eb5371;
  border-radius: 100%;
  animation: pinging 1s linear infinite;
}

@keyframes pinging {
  95% {
    inset: -220%;
  }
  100% {
    inset: -220%;
    opacity: 0;
  }
}

/* FILE UPLOAD CHOSEN FILE TEXT */
input[type="file"].chosenfile {
  color: green;
}

/* checkbox */
.formCustomInput input[type="checkbox"] {
  position: relative;
  top: 0px;
  left: -5px;
  width: 10px;
  height: 10px;
  min-width: 10px;
  min-height: 10px;
}

.formCustomInput input[type="checkbox"]::after {
  content: url("../../public/icons/check-white.svg");
  position: absolute;
  background-color: white;
  display: grid;
  place-content: center;
  justify-content: center;
  left: -6px;
  top: -6px;
  width: 22px;
  height: 22px;
  border: 1px solid #aeb1b7;
  border-radius: 5px;
  z-index: 1;
}

.formCustomInput input[type="checkbox"]:checked::after {
  background-color: #272a74;
}

/* radio button appearance like checkbox */
.formCustomInput input[type="radio"] {
  position: relative;
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
}

.formCustomInput input[type="radio"]::after {
  content: url("../../public/icons/check-white.svg");
  position: absolute;
  color: white;
  background-color: white;
  display: flex;
  align-items: end;
  justify-content: center;
  inset: 0;
  padding-bottom: 2px;
  width: 24px;
  height: 24px;
  border: 1px solid #aeb1b7;
  border-radius: 5px;
  z-index: 1;
}

.formCustomInput input[type="radio"]:checked::after {
  background-color: #272a74;
}

.formCustomInput input:focus-visible {
  outline: none;
}

@keyframes shine {
  0% {
    background-position-x: 0;
  }
  60%,
  100% {
    background-position-x: 180px;
  }
}

@layer utilities {
  .animate-shine {
    animation: shine 1.5s ease-out infinite;
  }
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@layer components {
  .image {
    -webkit-mask-image: url("/images/0.png");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    height: 100%;
  }
  .prespective {
    perspective: 2200px;
  }
}

/* LOADING ANIMATION DOTS */
.loader-dots {
  width: 12px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
  0% {
    box-shadow: 20px 0 #000, -20px 0 #0002;
    background: #000;
  }
  33% {
    box-shadow: 20px 0 #000, -20px 0 #0002;
    background: #0002;
  }
  66% {
    box-shadow: 20px 0 #0002, -20px 0 #000;
    background: #0002;
  }
  100% {
    box-shadow: 20px 0 #0002, -20px 0 #000;
    background: #000;
  }
}

@keyframes orbit {
  0% {
    transform: rotate(calc(var(--angle) * 1deg))
      translateY(calc(var(--radius) * 1px)) rotate(calc(var(--angle) * -1deg));
  }
  100% {
    transform: rotate(calc(var(--angle) * 1deg + 360deg))
      translateY(calc(var(--radius) * 1px))
      rotate(calc((var(--angle) * -1deg) - 360deg));
  }
}

.animate-orbit {
  animation: orbit calc(var(--duration) * 1s) linear infinite;
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.animate-slide-in-right {
  animation: slide-in-right 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
