.otpInput {
  border: 1px solid #ddd;
  font-size: clamp(0.75rem, 0.4426rem + 0.9836vw, 1.125rem);
  border-radius: clamp(0.7rem, 0.0789rem + 1.1475vw, 0.875rem);
  width: 2.5rem !important;
  height: 2.8rem;
}
.authOtpInput {
  border: 1px solid #ddd;
  font-size: 16px;
  border-radius: 4px;
  width: 46px !important;
  height: 52px;
}

.separetor {
  position: relative;
  border-right: 1px solid #ddd;
}

.separetor::after {
  content: "";
  position: absolute;
  top: 120px;
  right: -10px;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background-color: white;
}

.modalz {
  width: calc(100vw - clamp(30px, 40vw - 25rem, 50rem));
  max-width: 700px;
  inset: 0;
  margin: auto;
  background: linear-gradient(180deg, #afbffd 0%, #ffffff 35%);
  display: grid;
  align-items: center;
  position: relative;
  overflow-y: auto;
}

.modalz:focus {
  outline: none;
}

.modalOverlay {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
